<!DOCTYPE html>
{% load static %}

<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}" />

    <title>Contato</title>
  </head>
  <body>
    <nav class="navBar">
      <ul style="list-style: none; padding: 0;">
        <li style="display: inline; margin-right: 20px;">
          <a href="/">Início</a>
        </li>
        <li style="display: inline; margin-right: 20px;">
          <a href="/veterinario">Veterinários</a>
        </li>
        <li style="display: inline; margin-right: 20px;">
          <a href="/contato">Contato</a>
        </li>
        <li style="display: inline; margin-right: 20px;">
          <a href="/info">Aluno</a>
        </li>
      </ul>
    </nav>
    <h1>Entre em Contato</h1>
    <p>Para entrar em contato conosco, utilize os seguintes detalhes:</p>

    <ul>
      <li>Email: 00020062@fepi.edu.br</li>
      <li>Telefone: (11) 1234-5678</li>
      <li>Endereço: Rua Teste, 1023 - Itajubá, MG</li>
    </ul>
  </body>
</html>
