{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}" />
    <title>Mania de Bichos</title>
  </head>

  <body>
    <nav class="navBar">
      <ul style="list-style: none; padding: 0;">
        <li style="display: inline; margin-right: 20px;">
          <a href="/">Início</a>
        </li>
        <li style="display: inline; margin-right: 20px;">
          <a href="/veterinario">Veterinários</a>
        </li>
        <li style="display: inline; margin-right: 20px;">
          <a href="/contato">Contato</a>
        </li>
        <li class="navBarInfo" style="display: inline; margin-right: 20px;">
          <a href="/info">Aluno</a>
        </li>
      </ul>
    </nav>

    <div id="menu">
      <ul>
        <li>
          <a href="#">Conheça nossas filiais</a>
        </li>
        <li>
          <a href="#">Blog do Bicho</a>
        </li>
        <li>
          <a href="#">Loja De Conveniência</a>
        </li>
        <li>
          <a class="teste" href="https://maps.app.goo.gl/hLmRsC1qm1U92CzE7">Localização da nossa loja</a>
          <img class="testeImg" src="{% static '/images/maps.png' %}" alt="image" width="60" height="60" />
        </li>
      </ul>
    </div>
    <main>
      <section>
        <h2>Mania de Bichos</h2>
        <p>Seu Pet merece o melhor, e o melhor é aqui!</p>
      </section>
      <img src="{% static '/images/cachorro.jpeg' %}" alt="image" width="500" height="400" />
      <img src="{% static '/images/clinica.jpeg' %}" alt="image" width="500" height="400" />
      <img class="img" src="{% static '/images/kitty-cat-kitten-pet-45201.jpeg' %}" alt="image" width="500" height="400" />

      <section>
        <h2>Nossos Serviços</h2>
        <ul>
          <li>Atendimento imediato</li>
          <li>Cirugias marcadas e com emergencias</li>
          <li>Hotel para pets</li>
        </ul>
      </section>
    </main>

    <footer>
      <p>&copy; 2023 Mania de Bichos</p>
    </footer>
  </body>
</html>
